<!DOCTYPE html>
<html lang="en">
  <!-- <head>
    <title>BuildAThon</title> -->


    <head>
      <title>BuildAThon</title>


      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

      <!-- <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> -->

      <link href="../static/css/signup.css" rel="stylesheet">
      <script src="../static/js/jquery-1.11.2.js"></script>
      <!-- <script src="../static/js/signUp.js"></script> -->

      <script>
      function add() {

          // Add li element
          var node = document
          .createElement("li");

          // Add element into the list
          var textnode = document
          .createTextNode("JS");

          // Append the element into the list
          node.appendChild(textnode);
          document.getElementById("myList")
          .appendChild(node);

          // Alert message when element gets added
          alert("Element is getting added") ;
      }
  </script>

    </head>

  <!-- </head> -->

  <body>

    <div class="container">

      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
       	    <li role="presentation"><a href="/login">Log Out</a></li>
          </ul>
        </nav>
      </div>

      <div class="jumbotron">
        <!-- <ul id="notificationlist"></ul>
        </ul> -->
        <div id = "dvContainer"></div>
        <script type="text/javascript">
        function addNotifications(){
          var ddlCustomers = document.createElement("ul");
          ddlCustomers.name = "notification";
          ddlCustomers.id = "notification"
          //Add the Options to the DropDownList.
          for (var i = 0; i < notifications.length; i++) {
              var option = document.createElement("li");

              //Set Customer Name in Text part.
              option.innerHTML = notifications[i][0];

              //Set CustomerId in Value part.
              // option.value = notificationid[i][0];
              option.setAttribute('id',notifications[i][0]);
              option.appendChild(document.createTextNode(notifications[i][0]));
              // ul.appendChild(li);
              //Add the Option element to DropDownList.
              ddlCustomers.appendChild(option);
          }

          //Reference the container DIV.
          var dvContainer = document.getElementById("dvContainer")

          //Add the DropDownList to DIV.
          var div = document.createElement("DIV");
          div.appendChild(ddlCustomers);

          //Add the DIV to the container DIV.
          dvContainer.appendChild(div);
        }

        </script>

        <!-- <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">see all notification</button> -->

        <button onclick="addNotifications()">
            Notifications
        </button>

      </div>

      <div class="jumbotron">
        <h1>User Details</h1>
        <!-- <form class="form-signin"> -->
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" value={{UserName}} disabled required autofocus>
        <input type="name" name="userid" id="userid" class="form-control" value={{id}} disabled required autofocus>

        <!-- <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button> -->
        <!-- </form> -->

      </div>

      <footer class="footer">
        <p>BuildAThon App 2021</p>
      </footer>

    </div>
  </body>
</html>
